#larevue
{
	background-image: url("assets/images/la_revue.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 310px;
    background-position: center;
}


p
{
	text-align: center;
	color: black;
	font-family: arial;
	font-size: 15px;
}



